
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Inter, sans-serif ;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: white;
}

section{
    padding: 100px 11% 90px;
    overflow: hidden;
}

.nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: all .45s ease;
    max-width: 100%;
    height: auto;

}

.nav-home{
    background-image: url(https://images.pexels.com/photos/16044854/pexels-photo-16044854/free-photo-of-people-surfing-on-sea.jpeg);
    max-width: 100%;
    height: 90vh;
}

.nav-logo img{
    max-width: 100px;
    height: auto;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

#menu-icon{
    display: none;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.h3{
    font-size: 25px;
    margin-bottom: 10px;
}

.p1{
    font-size: 15px;
    margin-bottom: 10px;
}

.p2{
    font-size: 20px;

}

.navbar a{
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    transition: all .45s ease;
}

.navbar a:hover{
    background: lightblue;
    letter-spacing: 1px;
}

.navbar li{
    margin-right: 20px;
    transition: all .45s ease;
}

.about .container{
    padding: 20px;
}

.about-img img{
    max-width: 300px;
    height: auto;
    box-shadow: 10px;
    border-radius: 10px;
}

.about-text{
    padding: 5px 70px;
}

.about-text h3{
    margin-bottom: 20px;
    margin-top: -50px;
    font-weight: 400;
}

.about-text p{
    margin-bottom: 20px;
    color: gray;
}

.btn-primary{
    background: blue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    transition: all .45s ease;
}

.btn-primary:hover{
    letter-spacing: 1px;
    opacity: 0.8;
    transition: all .45s ease;
}

.Services{
    padding: 20px 70px;
}

.service-cont{
    background-color: whitesmoke;
    padding: 10px 20px;
    min-height: 90vh;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.service-cont p{
    color:  gray;
}

.service-text{
    margin-bottom: 50px;
    margin-left: 40px;
}

.service-text h3{
    margin-bottom: 20px;
}

.card img{
    width:50px;
    margin-bottom: 10px;
}

.card h3{
    margin-bottom: 10px;
    font-size: 15px;
}

.card p{
    font-size: 13px;
    font-weight: 300;
}

.card{
    padding: 20px 30px;
    background: white;
    max-width: 400px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.card-cont{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.bot-p{
    margin-left: 40px;
    margin-top: 40px;
}

.portfolio-cont{
    background-color: whitesmoke;
    padding: 10px 20px;
    min-height: 90vh;
}

.portfolio{
    padding: 20px 70px;
}
.port-text{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}
.port-text h3{
    margin-bottom: 10px;
    margin-left: -60px;
}

.port-text p{
    margin-bottom: 10px;
    margin-left: -60px;
    color: gray;
}

.port-head li{
    display:flex;
    flex-direction: row;
    
}
.port-head{
    margin-top: 50px;
}

.port-head .black{
    background-color: black;
    color: white;
}

.port-head a{
    background: white;
    color: black;
    padding: 5px 20px;
    margin-right: 5px;
}

.port-img{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding: 50px;
margin-top: -50px;
}

.akin{
    padding: 50px 200px;
}

.port-img img{
    max-width: 200px;
    margin-right: 40px;
    margin-bottom: 10px;
}

.test-card{
    background: black;
    color: white;
    padding: 20px 30px;
    max-width: 400px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.card-desc img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.test-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.test-content h3{
    margin-bottom: 10px;
}

.test-content p{
    margin-bottom: 30px;
    font-weight: 200;
}
 
.card-desc p{
    display: inline-flex;
    align-content: center;
    justify-content: center;
    font-size: 15px;
}

.card-del{
    display: flex;

}

.steve{
    display: flex;
    flex-direction: column;

}

.blog{
    padding: 20px 70px;
}

.blog-cont{
    background-color: whitesmoke;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.blog-cont h3{
    margin-bottom: 20px;
}

.aft{
    color: gray;
}
.blog-card1 img{
    width: 100%;
    height: 180px;
    margin-bottom: 15px;
}

.blog-card1{
    background-color: white;
    width: 300px;
    margin-top: 20px;
    margin-right: 20px;
    position: relative;

}

.blog-card{
    display: flex;

}

.blog-card1 p{
    margin-bottom: 10px;

}
.morni{
    position: absolute;
    top: 10px;
    right: 10px;
    background: black;
    padding: 10px 10px ;
    color: white;
    font-weight: 300;   
}
.akt{
    font-weight: bold;
    margin-left: 15px;
}

.akb{
    margin-left:30px ;
    font-weight: 300;
    color: gray;
}

.akc{
    font-weight: 300;
    color: gray;
    margin-left: 15px;
}
.contact{
    padding: 20px 70px;
    color: white;
}

.contact-cont{
    background:lightgray;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    position: relative;
    background:white;
    display: flex;
    flex-direction: column;
    width: 1000px;
    align-items: center;
    justify-content: center;
}

input{
    width: 450px;
    margin-top: 20px;
    margin-right: 400px;
    background:rgb(23, 23, 23);
    color: white;
    border: none;
    height: 35px;
    padding: 20px 0 20px 10px;
    
}

textarea{
    background: rgb(23, 23, 23);
    position: absolute;
    top: 0;
    color: white;
    right: 15px;
    margin-top: 20px;
    width: 400px;
    margin-right: 30px;
}

.contact-cont h3,p{
    margin-bottom:40px ;
}

.stephen{
    margin: 20px 0 20px 40px;
    
    background-color: lightgray;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
}

.stephen:hover{
    letter-spacing: 1px;
    transition: all .45s ease;
}

.footer{
    
    bottom: 0;
    right: 0;
    left: 0;
    background: black;
    color: white;
    width: 100%;
    height: 100%;
}

.footer-content{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-bar{
    display: flex;
    margin: 15px 0 10px 0;
}

.footer-bar a{
    font-size: 15px;
    margin-right: 20px;
    color: white;
    font-weight: 200;
}

.footer-content p{
    font-weight: 200;
    margin-bottom: -2px;
}

@media(min-width:1700px) {
    .home-nav{
        padding: 100px 11% 80px;
    }

    .nav-bar{
        padding: 10px 15px;
    }
}

@media(max-width:1300px){
    .portfolio-cont{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }
    .akin{
        padding: ;
    }
   .port-img{
    padding: 20px;
    min-width: 100%;
    margin-top: 20px;

   }

   .port-img img{
    max-width: 250px;
   }
}


@media(max-width:1220px){
    .portfolio-cont{
        padding: 10px 2px;
    }
 
    .akin{
        padding: 2px;
        margin-top: 20px;
    }

    .about{
        padding-left: 0px;
    }

    .about-text{
      
        line-clamp: 5px;
    }

    .about-img img{
        width: 200px;
    }

.contact{
    padding: 0;
}
    
.Services{
    padding: 0;
}

.portfolio{
    padding: 0;
}

.blog{
    padding: 0;
}

.blog-cont{
    max-width: 100%;
}

.blog-card1 {
    width: 250px;
}
}

@media(max-width:1024px){
    .navbar{
        position: fixed;
        position: absolute;
        top: 100%;
        right: -100%;
        display: flex;
        flex-direction: column;
        background:white;
        color: black;
        padding: 30px;
        border-radius: 10px;
        z-index: 10;
    }

    #menu-icon{
        display: initial;
        font-size: 30px;
        color: white;
        transition: all .45s ease;
       
    }

    #menu-icon:hover{
        color: black;
        background:lightblue;
        padding: 2px;
        text-align: center;
        border-radius: 10px;
        transform: translateY(-2px);
    }

    .about .container{
        padding-left: 80px;
    }



    .navbar li{
        margin-bottom: 40px;
    }

    .navbar a{
        color: black;
    }

    .navbar.open{
        right:0 ;
    }
}

@media(max-width:967px){
    .service-cont{
        padding: 0;
    }

    .home{
        text-align: center;
    }

    .card-cont .card{
        width: 300px;
    }

      form{
        width: 600px;
      }
    input{
        width: 250px;
        margin-left: 150px;
    }
.contact p{
    font-size: 14px;
    margin-left: 20px;
}
    textarea{
        width: 200px;
        margin-right: 50px;

    }

    .blog-card1{
        width: 200px;
    }

    .akt{
        font-size: 14px;
    }

    .akb{
        font-size: 14px;
    }

    .akc{
        font-size: 14px;
    }

    .about .container{
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    

    .about-img img{
        margin-top: 20px;
        width: 100%;
    }
}

@media(max-width:700px){
.about .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    form{
        position: relative;
        width: 600px;
        display: flex;
        min-height: 400px;
        padding-left:70px ;
    }
   input{
    width: 400px;
    margin-right: 250px;
   }


    textarea{
        height: 50px;
        width: 200px;
     position: absolute;
     
     top:250px;
     right: 265px;
     
    }

    .stephen{
    margin-left: 100px;
}

.blog{
    min-height: 200px;

}

.blog-cont{
    padding: 20px;
    min-height: 200vh;
    margin-bottom: 70px;
}

.blog-card{
    display: flex;
    flex-direction: column;
}

.blog-card1{
    width: 400px;
    
}

.port-img img{
    width: 150px;
}
.port-text p{
    margin-left: 50px;
}
.port-head a{
    font-size: 10px;
    margin-left: 10px;
}

.service-cont{
    margin-bottom: 70px;
    padding: 10px ;
}


.card-del{
    display: flex;
    flex-direction: column;

}

.about-text{
    width: 500px;
}
}

@media(max-width:567px){
    .portfolio{
        max-height: 100vh;
    }

     .portfolio-cont{
     }

     .akin{
        padding:0;
     }
    .port-img{
        padding: 0;
        display: flex;
        flex-direction: row;

    }
     form{
        position: relative;
        width: 400px;
     }

     input{
        width: 100%;
     }

     textarea{
        position: absolute;
        left: 20px;
     }
     .blog{
        max-height: 200vh;
     }

     
    .port-head{
        margin-bottom: 40px;
    }
    .port-img img{
        width:150px ;
    }

.h3, .p1, .p2{
    margin-bottom: 40px;
}

    
}